@mixin flex-wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; //works on main access x axis
    border: 1px solid #fff;
    align-items: stretch; //works on cross access y axis
    width: 500px;
    height: 300px;
}

@mixin flex-no-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border: 1px solid #fff;
    align-items: stretch;
    width: 500px;
    height: 200px;
}

@mixin wrap-reverse {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-start;
    border: 1px solid #fff;
    align-items: stretch;
    width: 500px;
    height: 200px;
}

@mixin column {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border: 1px solid #fff;
    align-items: stretch;
    width: 500px;
    height: 400px;
}

@mixin grow {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #fff;
    width: 100%;
}