@import "mixins";

#nowrap {
  @include flex-no-wrap;
}

#wrap {
  @include flex-wrap;
}

#wrap-reverse {
  @include wrap-reverse;
}

#column {
  @include column;
}

#column div {
  flex: 1 1 100%;
}

#grow {
  @include grow;
}

#grow div {
  margin: 0;
  flex-grow: 1;
}

#grow div:nth-child(2) {
  flex-grow: 2;
}

#grow div:nth-child(4) {
  flex-grow: 4;
}

.media {
  display: flex;
  flex-flow: row nowrap;
}

.figure {
  flex: 1 1 30%;
  align-self: center;
}

.media-body {
  flex: 1 1 70%;
}

.media-body p {
  margin: 0 10px 20px 10px;
}

//body {
//    display: flex;
//    flex-flow: column wrap;
//    margin: 0;
//    min-height: 100vh;
//}

#main {
  display: flex;
  width: 400px;
  border: 1px solid #fff;
}