#nowrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border: 1px solid #fff;
  align-items: stretch;
  width: 500px;
  height: 200px; }

#wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 1px solid #fff;
  align-items: stretch;
  width: 500px;
  height: 300px; }

#wrap-reverse {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-start;
  border: 1px solid #fff;
  align-items: stretch;
  width: 500px;
  height: 200px; }

#column {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid #fff;
  align-items: stretch;
  width: 500px;
  height: 400px; }

#column div {
  flex: 1 1 100%; }

#grow {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #fff;
  width: 100%; }

#grow div {
  margin: 0;
  flex-grow: 1; }

#grow div:nth-child(2) {
  flex-grow: 2; }

#grow div:nth-child(4) {
  flex-grow: 4; }

.media {
  display: flex;
  flex-flow: row nowrap; }

.figure {
  flex: 1 1 30%;
  align-self: center; }

.media-body {
  flex: 1 1 70%; }

.media-body p {
  margin: 0 10px 20px 10px; }

#main {
  display: flex;
  width: 400px;
  border: 1px solid #fff; }

/*# sourceMappingURL=style.css.map */
